@media only screen and (max-width: 600px) {
    .signin{
   color:black;
 
    }
     .full_width_sign{display: none;}
  }

 
  @media only screen and (min-width: 900px) {
    .signin{
   display: none;
    }
  }